@use './components/header.scss';
@use './components/intro.scss';
@use './components/promo.scss';
@use './components/ourTeam.scss';
@use './components/base/baseModal.scss';
@use './components/services.scss';
@use './components/projects.scss';
@import './constants/normilize.scss';
@import './constants/fonts';



.app{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &__wrapper{
        margin: 0 auto;

        width: 100%;
        min-width: 320px;
        max-width: 1440px;
    }
}

.body-container{
    width: 100%;
}

*{
    font-family: 'Roboto Condensed', Sans-serif, Arial;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}