$primary: #2B4074;
$white: #FFFFFF;
$black: #000000;
$gray: #797979;
$dark-gray: #4A4A4A;
$light-gray: #9B9B9B;
$bg-white: #F9F6E5;
$green: #7EBF84;

$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-36: 36px;
$font-48: 48px;
$font-60: 60px;
$font-84: 84px;
$font-96: 96px;


