@import '../constants/vars';

.contacts{
    margin-bottom: 41px;

    &__title{
        font-weight: 700;
        font-size: $font-18;
        line-height: 21px;
        letter-spacing: 2px;

        color: $bg-white;

        margin-bottom: 16px;
    }

    &__link{
        color: $white;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 640px) {
    .contacts{
        margin-right: 225px;
        margin-bottom: 28px;
    }
}

@media (min-width: 769px) {
    .contacts{
        margin-right: calc(180px - (10% + 77px));
    }
}