@import '../constants/vars';

.header{
    display: flex;
    justify-content: space-between;

    width: 100%;

    background-color: $primary;

    &__logo{
        width: 100px;
        height: 66px;

        margin-left: 25px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    &__burger-menu{
        width: 40px;

        height: 40px;
        margin: 20px;
        margin-left: 0;

        background: $white;
        border-radius: 3px;
        border: none;

        &::after{
            content: "";

            display: block;

            width: 12px;
            height: 2px;

            background-color: $primary;
            border-radius: 4px;
            box-shadow: 0 4px $primary, 0 -4px $primary;

            margin: 0 auto;
        }
    }

    &__navigation{
        &_close{
            display: none;
        }
    }
}

@media (min-width: 640px) {
    .header{
        &__burger-menu{
            margin: 30px;
            margin-left: 0;
        }

        &__logo{
            margin-left: 53px;
            margin-top: 17px;
            margin-bottom: 17px;
        }
    }
}

@media (min-width: 769px) {
    .header{
        &__burger-menu{
            margin: 30px;
            margin-right: 41px;
            margin-left: 0;
        }

        &__logo{
            margin-left: 44px;
        }
    }
}

@media (min-width: 1024px) {
    .header{
        &__burger-menu{
            margin-right: 42px;
        }

        &__logo{
            margin-left: 46px;
        }
    }
}

@media (min-width: 1440px) {
    .header{
        &__burger-menu{
            margin: 30px;
            margin-right: 150px;
            margin-left: 0;
        }

        &__logo{
            margin-left: 61px;
        }
    }
}