@import '../constants/vars';

.intro{
    width: 100%;

    background-color: $white;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slider{
    width: 100%;

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

    }

    &__item-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        width: 100%;

        background: rgba(33, 33, 33, 0.5);
    }

    &__item{
        display: none;

        &_active{
            display: block;
    
            width: 100%;
    
            background-image: url('/dist/img/intro-bg-img.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
            color: $white;
        }
        
    }

    &__item-title{
        margin-top: 36px;

        font-weight: 400;
        font-size: $font-28;
        line-height: 28px;

        &::after{
            content: "";
            display: block;
    
            margin: 0 auto;
            margin-top: 24px;
            margin-bottom: 35px;
    
            width: 61px;
            height: 8px;
    
            background-color: $dark-gray;
        }
    }

    &__pagination{
        display: flex;
        justify-content: space-between;
        
        width: 50px;
        
        position: absolute;
        bottom: 20px;

    }

    &__pagination-item{
        display: block;

        width: 10px;
        height: 10px;

        background-color: $primary;

        border-radius: 100px;

        &_active{
            border: 1px solid #476E4D;
            background-color: inherit;
        }
    }

    &__item-description{
        display: none;
    }

    &__control-wrapper{
        display: none;
    }

    &__item-link{
        display: none;
    }
}

@media (min-width: 640px) {

    .intro{
        filter: none;
    }

    .slider{
        &__item-link{
            display: block;

            width: 200px;
            height: 50px;

            background-color: $primary;

            margin-bottom: 113px;
            padding-top: 16px;
            
            border-radius: 3px;

            color: $bg-white;;
            font-size: $font-18;
            font-family: 'Roboto';
            font-weight: 400;
            text-transform: uppercase;
        }

        &__control-wrapper{
            display: flex;
            flex-direction: column;

            position: absolute;
            right: 0;
        }


        &__item-title{
            margin-top: 50px;
            margin-bottom: 0;

            font-size: $font-60;
            line-height: 60px;

            &::after{
                margin-top: 7px;
                margin-bottom: 30px;
            }

        }

        &__pagination{
            bottom: 50px;
        }

        &__control{
            width: 56px;
            height: 56px;

            background-repeat: no-repeat;
            background-position: center;

            border: none;

            &_prev{
                background-image: url('/dist/img/forward.svg');
                background-color: $primary;
                margin-bottom: 1px;
            }

            &_next{
                background-image: url('/dist/img/back.svg');
                background-color: $bg-white;
            }
        }

    }
    
}

@media (min-width: 769px) {

    .slider__item-description{
        display: block;

        width: 587px;

        font-size: $font-18;
        font-weight: 400;

        margin-bottom: 32px;
        margin-top: 0;
    }

    .slider__item-title{
        margin-top: 87px;
        margin-bottom: 30px;

        line-height: 60px;

        &::after{
            display: none;
        }

    }

    .slider__pagination{
        bottom: 52px;
    }

    .slider__item-link{
        margin-bottom: 112px;
    }
    
}

@media (min-width: 1024px) {
    .slider__item-title{
        margin-top: 101px;
        margin-bottom: 30px;

        font-size: $font-84;
        line-height: 84px;
    }

    .slider__item-description{
        width: 587px;

        margin-top: 0;
        margin-bottom: 12px;

        font-size: $font-18;
    }

    .slider__item-link{
        margin-bottom: 207px;
    }

    .slider__pagination{
        bottom: 85px;
    }
}

@media (min-width: 1440px) {
    .slider__item-title{
        margin-top: 107px;
        margin-bottom: 18px;

        font-size: $font-96;
        line-height: 96px;
    }

    .slider__pagination{
        bottom: 80px;
    }

    .slider__pagination-item{
        background-color: $white;

        &_active{
            background: inherit;
            border: 1px solid $white;
        }
    }

    .slider__item-description{
        width: 886px;

        margin-bottom: 28px;
        margin-top: 0;

        font-size: $font-24;
    }

    .slider__item-link{
        margin-bottom: 213px;
    }
}

