@import '../constants/vars';

.promo{
    background-color: $primary;
    width: 100%;

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 40px 25px;

        text-align: center;
    }

    &__description-wrapper{
        text-align: center; 
    }

    &__slogan{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: $font-24;
        color: $white;
        line-height: 24px;

        margin: 0;
        margin-bottom: 10px;
        padding: 0;
    }

    &__about-us{
        font-family: 'Roboto';
        font-weight: 300;
        font-size: $font-16;
        line-height: 18px;
        color:$white;

        margin: 0 auto;
        margin-bottom: 40px;
        padding: 0;

        br{
            display: none;
        }
    }

    &__call-link{
        background-color: $bg-white;

        padding: 16px 0;

        color:$primary;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: $font-18;
        line-height: 18px;

        width: 200px;

        border-radius: 3px;
    }

}

@media (min-width: 640px) {
    .promo__wrapper{
        padding: 40px 30px;
    }
}

@media (min-width: 769px) {
    .promo__wrapper{
        padding-top: 60px;
        padding-bottom: 30px;
        padding-left: 46px;
        padding-right: 42px;

        flex-direction: row;
        justify-content: space-between;

    }

    .promo__slogan{
        margin-bottom: 20px;
    }

    .promo__about-us{
        width: 350px;
        margin: 0;

        br{
            display: inline;
        }
    }

    .promo__description-wrapper{
        text-align: left;  
    }

    .promo__call-link{
        margin-bottom: 10px;

    }
}

@media (min-width: 1024px) {
    .promo__wrapper{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 43px;
    }

    .promo__slogan{
        font-size: $font-18;
        line-height: 18px;
    }

    .promo__about-us{
        width: 100%;
        font-size: $font-14;
        line-height: 16px;
    }

    .promo__call-link{
        margin-top: 5px;
        margin-bottom: 0px;
    }
}

@media (min-width: 1440px) {
    .promo__wrapper{
        padding-top: 57px;
        padding-bottom: 57px;
        padding-right: 149px;
        padding-left: 150px;
    }

    .promo__slogan{
        font-size: $font-24;
        line-height: 32px;
    }

    .promo__about-us{
        font-size: $font-16;
        line-height: 18px;
    }

    .promo__call-link{
        margin-top: 0px;
        margin-bottom: 5px;
    }
}